.moveToReg{
    background-color: aquamarine;
}

.moveToReg :hover{
    cursor: pointer;
    color: red;
}

form * {
    margin-top: 10px;
}

.login{
    width: 20%;
    margin: 10px;
    /* border: 1px solid red; */
}