.login-parent{
    background-image: linear-gradient(blue,pink,grey);
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.login-image{    
    height: 90vh;
    width:40%;
}

.login-image img{
    width: 100%;
    height: 100%;
}

.login-form{
    background-color:rgb(16, 14, 14);
    color: white;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.login-form *{
    margin-top: 2rem;
}

.login-form input{
    width: 60%;
    background: transparent;
    outline-width: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    
}

.login-form input:focus{
    border-bottom: 2px solid white;
}


.login-form button{
    width: 20%;
    background-image: linear-gradient(to right,rgba(253, 74, 202, 0.562),rgb(25, 223, 147));
}

.login-form span{
    width: fit-content;
}

@media screen and (max-width: 768px){
    .login-form{
        width: 100%;
        height:100%;
        z-index: 1;

    }

    .login-image{
        width: 100%;
        height:40vh;
        display: none;
        z-index: -1;
    }
}