.appbar{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  color: white;
  margin: auto;
  display: none;
}

.appbar div:not(.appbar-middle){
    color: white;
    margin: auto;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    

}

.appbar div:hover:not(.appbar-middle,.profile,.cart){
     cursor: pointer;
     /* background-image: radial-gradient(white,orange,grey); */
     border-radius: 50%;
     /* text-decoration: overline  .5rem black; */
     box-shadow: 0px 0px 0px 5px rgb(76, 174, 249) inset;

}

.appbar-left{
    display: flex;
}
.appbar-right{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}



.appbar-middle{
    font-size: 1.6rem;
    color: white;
    padding: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Explora', cursive; */
    font-weight: 900;
    font-family: 'Lobster', cursive;
}


#profile{
    font-size: 2rem;
    width: fit-content;
    cursor: pointer;
}


#cart{
    font-size: 2rem;
    width: fit-content;
    cursor: pointer;

}

/* 1% = 12.8px = 1.28rem */

.col-1 {width: 10.66rem;}
.col-2 {width: 21.32rem;}
.col-3 {width: 32rem;}
.col-4 {width: 42.66rem;}
.col-5 {width: 53.32rem;}
.col-6 {width: 64rem;}
.col-7 {width: 74.63rem;}
.col-8 {width: 85.32rem;}
.col-9 {width: 96rem;}
.col-10 {width: 106.66rem;}
.col-11 {width: 117.32rem;}
.col-12 {width: 128rem;}


/* @media screen and (max-width: 768px) {
    .appbar-left {
      display: none;
    }

    .material-symbols-outlined{
        display: flex;
        justify-content: end;
    }
    
  } */

  @media screen and (max-width: 998px) {
    html{
      font-size: 55%;  
    }
  }
  
  @media screen and (max-width: 768px) {
    html{
      font-size: 45%;  
    }

    /* .appbar-left {
        display: none;
      }
  
      .material-symbols-outlined{
          display: flex;
          justify-content: end;
      } */


  }

  @media screen and (max-width: 400px) {
    html{
      font-size: 25%;  
    }
  }
