.register-parent{
    border: 1px solid green;
    width:100%;
    height: 100vh;
    display: flex;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-c-09-ksh6n17o.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3ad7b1132b1fb4fb107468b0988ab39a');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register{
    width: 30%;
    position: relative;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    height: 75vh;
    background-color: rgb(37, 36, 36);
    opacity: 0.5;
    color:white;
    padding-top: 3%;
   
}

.register:hover{
    /* transform:rotateY(180deg);
    transition: transform 2s; */
    opacity: 0.8;
}

.register  input{
    margin: 10px;
    width: 60%;
    opacity: .8;
}

.register input:focus{
    border: 2px solid blue;
}

.register button{
    border-radius: 5px;
    opacity: 1;
    /* background-color: rgb(250, 84, 7); */

}
