.App {
  text-align: center;
  background-color: aquamarine;
}

html{
  font-size: .625rem;  
}

@media screen and (max-width: 998px) {
  html{
    font-size: 55%;  
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 45%;  
  }
}

